.hidden {
    display: none;
}
i {
    cursor: pointer;
    font-size: 3rem;
}
i:hover {
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
header {
    display: block;
}